/*.navbar-brand {*/
	/*font-family: 'Cutive Mono', monospace;*/
/*}*/

.nav-link {
	font-family: 'Cutive Mono', monospace;
}

/*.about {*/
	/*font-family: 'Cutive Mono', monospace;*/
/*}*/

p {
	font-family: 'Cutive Mono', monospace;
}

address {
	font-family: 'Cutive Mono', monospace;
}

h3 {
	color: white;
}

.image-text {
	color: white;
}

input {
	width:100%;
}

button.btn.btn-success.slide__link {
	margin-left: 4em;
}

input {
	border: none;
	font-family: 'Cutive Mono', monospace;
}

