.nav-link {
	font-family: 'Cutive Mono', monospace;
}

p {
	font-family: 'Cutive Mono', monospace;
}

address {
	font-family: 'Cutive Mono', monospace;
}

h3 {
	color: white;
}

.image-text {
	color: white;
}

input {
	width:100%;
}

button.btn.btn-success.slide__link {
	margin-left: 4em;
}

input, textarea {
	border: none;
	font-family: 'Cutive Mono', monospace;
}

li {
	list-style-type: none;
}
