#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^bldwrk.com$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.bldwrk.com$
#RewriteCond %{REQUEST_URI} !public_html/
#RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
#RewriteCond %{HTTPS} !=on
#RewriteRule (.*) https://bldwrk.com/$1 [L]